* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("images/bg-body.gif");
    
}

.container {
    width: 100%;
    min-height:850px;
    background: url("images/clouds.jpg");
    background-repeat: repeat-x;
}

.container .center {
    width: 1100px;
    min-height: 900px;
    margin-left: auto;
    margin-right: auto;
}

.container .left {
    width: 328px;
    height: 838px;
    float: left;
    background-image: url(images/bg-sidebar.jpg);
}

.container .left ul {
    margin-top: 460px;
    width: 250px;
    margin-left: 50px;
}

.container .left ul li {
    margin-bottom: 100px;
    list-style: none;
}

.container .left ul li a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    width: 100%;
    text-align: center;
}

.container .right {
    width: 772px;
    min-height: 838px;
    float: left;
}

.container .right .menu {
    width: 100%; 
    height: 60px;
    margin-top: 52px;
}

.container .right .menu ul {
    width: 100%;
}

.container .right .menu ul li {
    float: left;
    width: 16.6%;
    list-style: none;
    border-right: 1px solid grey;
}
.container .right .menu ul li:nth-child(6) {
    border: none;
}

.container .right .menu ul li a {
    display: block;
    width: 100%;
    height: 30px;
    text-decoration: none;
    text-align: center;
    padding-top: 6px;
    color: black;
}

.center2 {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.center2 .left2, .center2 .middle2, .center2 .right2 {
    width: 33.3%;
    float: left;
    text-align: center;
}